asgiref==3.4.1
black==21.8b0
click==8.0.1
fastapi==0.68.1
h11==0.12.0
mypy==0.910
mypy-extensions==0.4.3
mysql-connector-python==8.0.26
pathspec==0.9.0
platformdirs==2.3.0
protobuf==3.17.3
pydantic==1.8.2
PyMySQL==1.0.2
python-decouple==3.4
regex==2021.8.28
six==1.16.0
starlette==0.14.2
toml==0.10.2
tomli==1.2.1
types-PyMySQL==1.0.2
typing-extensions==3.10.0.2
uvicorn==0.15.0
